/* 146, 55, 77
jonquil: #e6c229ff;
4da1a9ff */
.abc{
    color: darkred;
    padding-right: 5px;
    padding-top: 15px;

}

body{
    background-color: #B7D1DA;
}
.abc p{
    
    color:black;
    display: inline;
}
.well{
    margin: 1em,1em;
    border: 0px;
}
.btn-xs{
    margin-top: 1em;
}
.btn-xs:hover{
    text-transform: uppercase;
    opacity: 1;
}
.pull-right{
    padding-right: 1em;
}
.delte{
    display: inline;    
}
.login{
    margin:31px auto;
    width: 70%;
    font-weight: 600;
    
    /* border-bottom: 1px solid black; */
}
.login input{
    width: 90%;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    color:black ;
}
.box{
 margin-left:25%;
 margin-right: 25%;
text-align: center;
}
.eye{
    margin-left: 0.8em;
    position: absolute;
}
#hide1{
    display: none;
}
.fa-star,.fa-star-half{
    color:gold;
}
.pattern{
    background-image: url("https://images.unsplash.com/photo-1460602594182-8568137446ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
.search-bar{    
    width: 5    0%;
    margin:0 auto;
    outline: transparent;
    margin-bottom: 2em;
    height: 10%;
    text-align: center;
    background-color:transparent;
    font-size: large;
    box-shadow: 5px 8px #697268;
    border-radius: 2em;
}
.search-bar input{
    width:40%;
    background: transparent;
    height: 40px;
    border:none;
    outline: transparent;
    padding: 0;
    
    line-height: 10px;
    border-bottom: 0.5px solid BLACK;
    /* display: none; */
}

.search{
    display: inline;
    align-items: center;
    /* height:40px; */
    /* position: absolute; */
    justify-content: center;
    /* width:3em;
    border-radius: 50%; */
    color:red;
    
}
.srch{
    float:left;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color:red
}
.search select option{
    background-color:transparent;
    transition: cubic-bezier(1, 0, 0, 1);
    animation-delay:2s ;
}
.search select{
    
    background-color: transparent;  
    border: transparent;
    padding-right: 0px;
    outline: none;
    color: rgb(109, 42, 42);
}
.fa-cutlery{
    color: crimson;
}
