<%- include("../partials/header")%>
<!-- <div class="container">
  <div class="jumbotron">
      <h1> <i class="fa fa-cutlery" aria-hidden="true" ></i> FORKEd_IN</h1>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="thumbnail" style="font-size: medium;color: crimson;font-weight: 500;">
            <p>Welcome to <b>FORKEd_IN</b>, your number one source for finding and reviewing restaurants nearby. We're dedicated to giving you the very best of experience, with a focus on three characteristics, ie: dependability, customer service and uniqueness.</p>
                <p>
                    Founded in 2020 by Mr. Nair, FORKEd_IN has come a long way from its beginnings in a starting location, ie: home office, Palakkad, Kerala.    When Mr. Nair first started out, his passion   drove him to quit his day job, and gave him the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over [place, ie: the US, the world, the Austin area], and are thrilled to be a part of the [adjective, ie: quirky, eco-friendly, fair trade] wing of the [industry type, ie: fashion, baked goods, watches] industry.
                </p>
                <p>
                    We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
                </p>
                <p>

                    
                </p>
                <p>
                Sincerely,
                </p>
                <p>
                HARi,Founder</p>
        </div>
    </div>
</div> -->
<div class="container jumbotron">
    <h1>Feedback</h1>
</div>
    <%if(value === 0){%>
        <div class="container row thumbnail" style="margin: auto;">
            <div style="margin:2em;"> 
                <h3>We want the website to be as friendly as possible and we would like to take few minutes so that you could share your experience in using this website</h3>
            <p>
                <h3>If you are new to this site, take a quick tour and then come back to this page :)</h3>
            </p>
        <form action="/feedback" method="POST">
            <p>
                <p>
               <h3>--> how did you like our landing page?</h3> 
                </p>
                <p style="font-size: large;letter-spacing: 1px;">
                    <input type="radio" name="feedback[quest1]" value="opt1" required>
                    <label for="q1">Liked it!</label><br>
                    <input type="radio" name="feedback[quest1]" value="opt2" required>
                    <label for="q1">Yikes!</label><br>
                    <input type="radio" name="feedback[quest1]" value="opt3" required>
                    <label for="q1">Scope for improvement</label>
                </p>
            </p>
            <p>
                <p>
                    <h3>-->What about the overall design and functionality?</h3>
                </p>
                <p style="font-size: large;letter-spacing: 1px;">
                    <input type="radio" name="feedback[quest2]" value="opt1" required>
                    <label for="q1">Liked it!</label><br>
                    <input type="radio" name="feedback[quest2]" value="opt2" required>
                    <label for="q1">Yikes!</label><br>
                    <input type="radio" name="feedback[quest2]" value="opt3" required>
                    <label for="q2">Scope for improvement</label>
                </p>
            </p>
            <p >
            <h3>-->Feel free to share your reviews about the site; mention the things you liked or other feature you wished was there.</h3> 
            <textarea name="feedback[quest3]" style="width: 50%;font-size: large;letter-spacing: 1px;" required></textarea>
            </p>
        <input type="submit" >
    </form>
        </div>
    </div>
    <%}else{%>
            <div class="container row thumbnail" style="margin: auto;">
                <div style="margin:2em;"> 
                    <p style="font-size:xx-large;font-weight: 700;"><i class="fa fa-meh-o" aria-hidden="true"></i>  OOPS!!!</p>
                <p>
                    <h3>IT SEEMS THAT YOU HAVE ALREADY SUBMITTED THE FEEDBACK.</h3>
                    <h3>YOU CAN SUBMIT ANOTHER FEEDBACK AFTER A FEATURE HAS BEEN ADDED TO THE SITE..TILL THEN ENJOY :)</h3>
                </p>
                </div>
                </div>
            <%}%>

<%- include("../partials/footer")%>